.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: white;
  font-family: 'roboto';
}
.top-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
  height: 35vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  padding: 40px;

  line-height: 1px;
}
.bottom-container {
  background-color: #152850;
  background-size: cover;
  height: 765vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.un-ordered-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  list-style-type: none;

  overflow-y: auto;
  padding: 20px;

  height: 60vh;
}
