.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 90vw;

  padding: 20px;
}
.music-image {
  height: 120px;
  margin-right: 10px;
}
.image-and-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.heading {
  font-size: 25px;
}
.para {
  color: #3b82f6;
}
.duration-and-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}
.delete-button {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: 0px none transparent;
}
